.custom_margin_bottom{
	margin-bottom: 5px;
}

.custom_margin_lgbottom{
	margin-bottom: 10px;
}

.custom_margin_xlgtop{
	margin-top: 20px;
}

.bottom_border{
    border-bottom: 1px solid #ccc;
}

.top_border{
    border-top: 2px solid #848484;
}

.right_border{
    border-right: 1px solid #ccc;
}


.left_border{
    border-left: 2px solid #848484;
}

.cover_parent{
	width: 100%;
}

.custom_panel_background{
	background-color: #dcdcdc;
}

.top_welcome_bar{
	background-color: #5672B4;
	height: 100px;
	text-align: center;
}

.custom_text_c1{
	color: #292f51;
}


.custom_account_view{
	margin-bottom: 5px;
	padding: 5px;
}

.tooltips {
  position: relative;
  display: inline;
}
.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltips:hover span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.white
{
    color:#ffffff !important;
}


.grey
{
    color:#898D92 !important;
}

.green
{
    color:#23A65F !important;
}

.light_red{
  color:#ff4444 !important;
}

.msglist_body{
	background-color: #EEF0F7;
}

.light_blue{
	background-color: #D2DBE2;
}

.lighter_blue{
	background-color: #E8EDF0;
}

.font_white{
	color: #ffffff;
}

.bottom_align_row{
    position: absolute;
    bottom: 0;
    margin-right: 0;
}

.cover_height_parent{
  height: 100%;
}

.con_status{
  color: #ffffff;
  text-align: right;
  line-height: 40px;  
}

.theName{
  color: #ffffff;
  text-align: center;
  line-height: 40px;  
}

.text-lg-padding{
  padding-left: 15px;
  padding-right: 15px;
}

.padding-address-form{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-refresh-animate {
animation-name: rotateThis;
animation-duration: .5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
 
@keyframes "rotateThis" {
from { transform: scale( 1 ) rotate( 0deg ); }
to { transform: scale( 1 ) rotate( 360deg ); }
} 